.marketplace,
.marketplace-detail {
    font-family: 'Montserrat', sans-serif;
}

.marketplace-wrapper {
    margin: 50px 220px 0;
    font-family: 'Montserrat', sans-serif;
}

.marketplace__title {
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #2D3448;
}

.marketplace__subtitle {
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2D3448;
}

.body {
    margin-top: 80px;
    display: flex;
}

.sidebar {
    min-width: 348px;
    width: 100%;
}

.sidebar__title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 18px;
    border-bottom: 0.5px solid #C7C7C7;
}

.decision-filter-wrap {
    margin-top: 40px;
}

.decision-filter,
.parametrs-filter,
.parametrs-editorship {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.filter__heading {
    /* padding: 10px 13px; */
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2D3448;
}

.decision-filter__item {}

.decision-filter__link {
    display: block;
    padding: 10px 13px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2D3448;
}

.decision-filter__link--active {
    background-color: #D1EEFC;
}

.parametrs-filter,
.parametrs-editorship {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 13px;
}

.parametrs-filter__item {}

.parametrs-filter__link {}


.container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #C4C4C4;
    /* background-color: #eee; */
    border-radius: 2.6px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #56C1EA;
    border: none;
    width: 20px;
    height: 20px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    transform: rotate(42deg);
}

.news {}

.news__card {
    margin-bottom: 25px;
    display: block;
    text-decoration: none;
}

.news__card:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

.news__img {
    width: 100%;
}

.content-wrap {
    margin: 15px;
}

.news__caption {
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 108.9%;
}

.subject {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.subject__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #00AEEF;
}

.subject__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C7C7C7;
}

.news__title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2D3448;
}

.news__paragraph {
    margin: 12px 0 0;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6B6B6B;
}

.content {
    margin-left: 30px;
}

.advertisement {
    width: 100%;
    /* height: 190px; */
}

.advertisement__img {
    width: 100%;
}

.features {
    margin-top: 24px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #C7C7C7;
}

.features__title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 108.9%;
    color: #2D3448;
}

.filter {
    display: flex;
}

.filter__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2D3448;
}

.filter__title {
    margin-right: 4px;
    padding: 7px 0;
}

.filter__advance {
    margin-left: 12px;
}

.filter__popular,
.filter__advance {
    padding: 7px 12px;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
}




.custom-select {
    margin-left: 12px;
    min-width: 175px;
    position: relative;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    top: 7px;
    right: 12px;
    content: url("../images/arrow12.png");
    /* top: 14px;
    right: 10px; */
    /* width: 0;
    height: 0; */
    margin-left: 8px;
    /* border: 6px solid transparent; */
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    transition: background-color color .1s ease-in-out;
}
  
  /* Style items (options): */
.select-items {
    position: absolute;
    background-color: #fff;
    top: 116%;
    left: 0;
    right: 0;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    z-index: 99;
}
  
.select-hide {
    display: none;
}
  
.select-items div:hover/*, .same-as-selected*/ {
    background-color: #0097CF;
    color: #fff;
}










.grid {
    margin-top: 40px;
    margin-left: -8px;
    margin-right: -8px;
    
    display: flex;
    flex-wrap: wrap;
}

.grid-inner {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
}

.grid__element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 8px; */
    padding: 20px;
    /* width: 50%; */
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    text-decoration: none;
    transition: box-shadow .1s ease-in-out;
}

.grid__emelent-wrap {
    display: flex;
    flex-direction: column;
}

.grid__element:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}

.grid__header {
    display: flex;
    /* justify-content: space-between; */
}

.grid-header-wrap {
    display: flex;
}

.grid__logo {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    overflow: hidden;
}

.grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__headline {
    margin-left: 20px;
    width: 87%;
    display: flex;
    justify-content: space-between;
}

.headline-wrap {
    /* display: flex; */
}

.grid__tile {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2D3448;
}

.grid__price {
    display: flex;
    align-items: baseline;
}

.grid__price-new {
    margin-top: 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #00B8FF;
}

.grid__price-old {
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #C4C4C4;
}

.grid__rating {

}

.grid__excerpt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B6B;
}

.grid__feedback {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #2D3448;
    transition: color .1s ease-in-out;
}

.grid__feedback:hover {
    color: #0097CF;
}

.achievement {
    margin-top: 70px;
    margin-bottom: 50px;
}

.achievement__title {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #2D3448;
}

.achievement__cards {
    display: flex;
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
}

.achievement__card {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    margin-left: 15px;
    margin-right: 15px;
}

.achievement__img {
    width: 100%;
}

.achievement__position {
    margin-top: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2D3448;
}

.achievement__desc {
    margin: 0;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6B6B6B;
}

.description {
    padding: 40px 220px 40px 595px;
    background-color: #EEF7FF;
}

.description__paragraph {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2D3448;
}

.description__paragraph:last-child {
    margin: 0;
}

/* detail page */

.marketplace-detail {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 0.5px solid #C7C7C7;
}

.detail-logo {
    margin-right: 40px;
}

.detail-logo__img {
    max-width: 120px;
    max-height: 120px;
}

.detail-desc-wrap {
    display: flex;
}

.detail-desc__title {
    margin-right: 52px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2D3448;
}

.detail-desc__paragraph {
    margin-top: 8px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #6B6B6B;
}

.detail-desc__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #00B8FF;
}

.detail-desc__btns {
    margin-top: 24px;
}

.detail-desc__btn {
    margin-right: 20px;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.detail-desc__btn--contained {
    color: #fff;
    background: #00B8FF;
}

.detail-desc__btn--outlined {
    border: 1px solid #00B8FF;
    color: #00B8FF;
}

.detail-desc__btn--text {
    padding-left: 0;
    color: #00B8FF;
}

.snippets {
    font-family: 'Montserrat', sans-serif;
}

.snippets__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.snippets .owl-theme .owl-dots .owl-dot.active span {
    background: #00AEEF;
}

.detail-desc-tabs {
    margin-top: 80px;
}
    
.detail-desc-tabs .desc__list {
    margin: 0;
    padding: 10px 0;
}

.active-block {
    display: block;
}

.hidden-block {
    display: none;
}

.desc__list .desc__item {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    margin-right: 49px;
    padding: 4px 0;
    color: #2D3448;
    
    display: inline;
    cursor: pointer;
    position: relative;
}
.desc__list .desc__item:hover,
.vertical .tabs .desc__item:hover {

}
    
.desc__list .desc__item.current {
    color: #00B8FF;
    border-bottom: 3px solid #00B8FF;
    cursor: default;
}

.box {
    margin-top: 40px;
    display: none;
}
    
.box.visible {
    display: block;
}

.box__subtitle {
    display: flex;
}

.box__feedback {
    margin-right: 48px;
}

.box__block {
    min-width: 174px;
    padding: 24px 0;
    text-align: center;
    background-color: #EEF7FF;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    border-radius: 4px;
}

.box__desc {
    margin-top: 9px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.comments {
    margin-top: 60px;
}

.comment {
    margin-bottom: 40px;
    display: flex;
}

.comment__logo {
    margin-right: 12px;
    min-width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: #00B8FF;
    border-radius: 25px;
}

.comment__user {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.comment__rating {}

.comment__title {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.comment__paragraph {
    margin-top: 4px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    color: #6B6B6B;
}

.comment__date {
    font-weight: 400;
    font-size: 12px;
}

/* select2 */
.selectNative,
.selectCustom {
  position: relative;
  width: 126px;
}

.selectCustom {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
}


@media (hover: hover) {
  .selectCustom {
    display: block;
  }

  .selectNative:focus + .selectCustom {
    display: none;
  }
}

/* Add the focus states too, They matter, always! */
.selectNative:focus,
.selectCustom.isActive .selectCustom-trigger {
  outline: none;
}

.select {
  position: relative;
  margin-right: 12px;
}

.selectLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.selectWrapper {
  position: relative;
}

.selectNative,
.selectCustom-trigger {
  background-color: #fff;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
}

.selectNative {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.8rem;
  padding: 0rem 0.8rem;
}

.selectCustom-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-weight: 500;
  /* padding: 0.6rem 0.6rem; */
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
}

.selectCustom-trigger::after {
    content: url("../images/arrow12.png");
  position: absolute;
  /* top: 0; */
  /* line-height: 2rem; */
  right: 0.8rem;
}

.selectCustom-options {
  position: absolute;
  top: calc(2.2rem + 6px);
  left: 0;
  width: 100%;
  border: 1px solid #C7C7C7;
  border-radius: 0.4rem;
  background-color: #fff;
  box-shadow: 0 0 4px #e9e1f8;
  z-index: 1;
  display: none;
  overflow: hidden;
}

.selectCustom.isActive .selectCustom-options {
  display: block;
}

.selectCustom-option {
  position: relative;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
}

.selectCustom-option.isHover,
.selectCustom-option:hover {
  background-color: #0097CF;
  color: white;
  cursor: pointer;
}

/* .selectCustom-option.isActive::before {
    content: "✓";
    position: absolute;
    left: 0.8rem;
} */

body {
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 120vh;
}

body * {
  box-sizing: inherit;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.6rem;
  line-height: 1.2;
  text-align: center;
}

.card {
  position: relative;
  margin: 2rem auto;
  max-width: calc(100% - 2rem);
  width: 40rem;
  background: white;
  padding: 3rem;
  box-shadow: 0.2rem 0.2rem #e9e1f8;
}

.inst {
  margin-bottom: 1rem;
}

.note {
  font-size: 1.4rem;
  margin: 2rem 0 0;
  color: #6b6b6b;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration-color: #0097CF;
  padding: 0.1rem 0.2rem;
  transform: translateX(-0.1em);
  margin-right: -0.1em;
}

.link:hover {
    color: #0097CF;
}

.link:focus {
    outline: none;
    background-color: #e9e1f8;
}


/* select-checkbox */
.mobile-sidebar {
    margin-top: 13px;
    display: none;
}

.checkselect {
	position: relative;
	display: inline-block;
	min-width: 153px;
    margin-right: 12px;
}
.checkselect-control {
	position: relative;
	padding: 0 !important;
}		
.checkselect-control select {
    font-family: 'Montserrat';
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0;
    padding: 10px;
	padding-left: 5px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: url("../images/arrow12.png") no-repeat right 13px center;
}

.checkselect-control select::-ms-expand {
    display: none;
}

.checkselect-over {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0; 			
	cursor: pointer;
}
.checkselect-popup {
	display: none;
	box-sizing: border-box;
	margin: 0;
    margin-top: 5px;
	padding: 0;
	width: 100%;
	height: auto;
	position: absolute;
	top: 100%;
	left: 0px; 
	border: 1px solid #C7C7C7;
	background: #fff;
	z-index: 9999;
	overflow: auto;
	user-select: none;
    border-radius: 4px;
}	
.checkselect label {
	position: relative;
	display: block;
	margin: 0;
	padding: 12px 6px 12px 25px;
	font-size: 14px;
	line-height: 1.1;
	cursor: pointer;
}			
.checkselect-popup input {
	position: absolute;
	top: 14px; 
	left: 8px;
	margin: 0 !important;
	padding: 0;
}
.checkselect-popup label:hover {
	background: #0097CF;
	color: #fff;
}
.checkselect-popup fieldset {
	display: block;
	margin:  0;
	padding: 0;
	border: none;
}
.checkselect-popup fieldset input {
	left: 15px;
}		
.checkselect-popup fieldset label {
	padding-left: 32px;
}		
.checkselect-popup legend {
	display: block;
	margin: 0;
	padding: 5px 8px;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.1;
}

/* adaptive */
@media (max-width: 1810px) {
    .marketplace-wrapper {
        margin: 50px 160px 0;
    }

    .filter__title {
        display: none;
    }

    .sidebar {
        min-width: 238px;
    }

    .features__title {
        font-size: 18px;
    }

    .grid__headline {
        width: 82%;
    }

    .description {
        padding: 40px 200px 40px 465px;
    }

}

@media (max-width: 1510px) {
    .features__title {
        font-size: 16px;
    }

    .custom-select {
        min-width: 153px;
    }

    .select-items div, .select-selected {
        font-size: 12px;
    }
}

@media (max-width: 1485px) {
    .marketplace-wrapper {
        margin: 46px 200px 0;
    }

    .marketplace__title {
        font-weight: 600;
        font-size: 36px;
        text-transform: inherit;
    }

    .body {
        margin-top: 60px;
    }

    .sidebar {
        min-width: 238px;
    }

    .decision-filter__link {
        padding: 9px 13px;
    }

    .features {
        margin-top: 20px;
    }

    .features__title {
        font-size: 16px;
    }

    .filter__title {
        display: none;
    }

    .decision-filter-wrap {
        margin-top: 30px;
    }

    .decision-filter__link,
    .container {
        font-size: 14px;
    }

    .content-wrap {
        margin: 8px;
    }

    .news__card {
        margin-bottom: 18px;
    }

    .news__caption {
        margin-bottom: 13px;
        font-size: 16px;
    }

    .news__title {
        font-size: 14px;
        line-height: 17px;
    }

    .news__paragraph {
        margin: 10px 0 0;
        padding-bottom: 8px;
        font-size: 12px;
        line-height: 15px;
    }

    .subject {
        margin-bottom: 10px;
    }

    .subject__title {
        font-size: 12px;    
    }

    .subject__date {
        font-size: 8px;
    }

    .custom-select {
        min-width: 153px;
    }

    .select-items div,
    .select-selected {
        font-size: 12px;
    }

    .same-as-selected {
        color: #fff;
        background-color: #0097CF;
    }

    .grid {
        margin-top: 30px;
    }

    .grid__element {
        padding: 14px;
    }

    .grid__logo {
        width: 42px;
        height: 42px;
    }

    .grid__tile {
        font-size: 14px;
    }

    .grid__price-new {
        margin-top: 0;
        font-size: 18px;
    }

    .grid__price-old {
        margin-left: 12px;
        align-self: flex-start;
        font-size: 12px;
    }

    .grid__excerpt {
        margin: 12px 0;
        font-size: 14px;
        line-height: 120%;
    }


    .description {
        padding: 32px 200px 32px 464px;
    }

    .description__paragraph {
        font-size: 14px;
        line-height: 17px;
    }

    .achievement__title {
        font-size: 20px;
    }

    .achievement__cards {
        margin-top: 32px;
    }

    .achievement__position {
        font-size: 14px;
        line-height: 17px;
    }

    .achievement__desc {
        font-size: 14px;
    }
}

@media (max-width: 1340px) {
    .marketplace-wrapper {
        margin: 24px 30px 0;
    }

    .description {
        padding: 32px 30px 32px 298px;
    }
}

@media (max-width: 1024px) {
    .marketplace-wrapper {
        margin: 24px 30px 0;
    }

    .sidebar {
        min-width: 218px;
    }

    .decision-filter__link, .container {
        font-size: 16px;
    }

    .grid__logo {
        width: 60px;
        height: 60px;
    }

    .grid__headline {
        width: 70%;
        flex-direction: column;
    }

    .headline-wrap {
        order: 2;
    }

    .grid__excerpt {
        font-size: 16px;
    }

    .grid__rating {
        order: 1;
    }

    .achievement {
        margin-bottom: 44px;
    }

    .achievement__cards {
        margin-top: 27px;
    }

    .description {
        padding: 32px 30px 32px 278px;
    }
}

@media (max-width: 860px) {
    .marketplace-wrapper {
        margin: 24px 20px 0;
    }

    .marketplace__title {
        font-size: 40px;
    }

    .body {
        margin-top: 30px;
    }

    .sidebar {
        display: none;
    }

    .mobile-sidebar {
        display: flex;
    }

    .content {
        margin-left: 0;
    }

    .features {
        margin-top: 12px;
    }

    .description {
        padding: 32px 20px 32px 20px;
    }
}

@media (max-width: 768px) {
    .marketplace__title {
        font-weight: 800;
    }
}

@media (max-width: 638px) {
    .features {
        flex-direction: column;
        border-bottom: none;
    }

    .features__title {
        padding-bottom: 12px;
        border-bottom: 0.5px solid #C7C7C7;
    }

    .filter {
        margin-top: 12px;
    }

    .custom-select {
        margin-left: 0;
        margin-right: 12px;
    }

    .mobile-sidebar {
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    .mobile-sidebar {
        flex-wrap: wrap;
    }

    .select {
        margin-bottom: 12px;
    }

    .checkselect {
        margin-bottom: 12px;
    }

    .grid-inner {
        width: 100%;
    }

    .achievement__cards {
        flex-direction: column;
    }

    .achievement__card {
        margin-bottom: 28px;
    }

    .achievement__position {
        font-size: 16px;
    }

    .achievement__desc {
        font-size: 16px;
    }

    .description__paragraph {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 320px) {
    .grid-inner {
        width: 100%;
    }

    .features {
        flex-direction: column;
    }

    .achievement__cards {
        flex-direction: column;
    }
}